@import "bourbon/bourbon";
@import "neat/neat";
@import url(http://fonts.googleapis.com/css?family=Nunito:300,400);

$background-color: rgba(0,0,0,.85);
$font-stack: 'Nunito', sans-serif;
$interface-color: #fff;

@mixin topdiv {
  background: $background-color;
  left: 0;
  opacity: 0;
  overflow-y: auto;
  max-height: 50%;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity 1s;
  width: 100%;
  z-index: 1;
}


body {
  margin: 0px;
  padding: 0px;
  font-family: $font-stack;
}

.company-link {
  background-color: rgba(255,255,255,.1);
  color: white;
  display: block;
  font-size: 20px;
  margin-bottom: 15px;
  padding: 5px 0px;
  text-align: center;
  text-decoration: none;
}

#filter {
  @include topdiv;

  height: 70%;
  max-height: none;
  opacity: 0; //for testing right now, delete later
  padding-top: 15px;
  pointer-events: none;//for testing will have to set to 0 then change in js when filter button clicked like infodiv
  transition: opacity .5s;
}

.filter-button {
  background-color: rgba(5, 5, 5, .8);
  border-radius: 35px;
  bottom: 3%;
  height: 45px;
  left: 30%;
  padding-top: 2px;
  position: absolute;
  width: 40%;
  z-index: 100;
  transition: opacity .5s;

  &#filter-calc{
    background-color: rgba(255,255,255,.3);
    left: 20%;
    opacity: .3;
    width: 60%;
  }

  &#filter-calc-ready {
    background-color: #00adee;
    left: 20%;
    opacity: 1;
    width: 60%;
  }

  p {
    font-size: 200%;
    font-weight: 300;
    margin: 0;
    text-align: center;
  }
}


.filter-position {
    //height: 100%;
    margin-left: 4%;
    width: 44%;
    float: left;
    height: 64%;

  &.state {

  }
}





.filter-selection {
  height: 79%;//CHANGE make dynamic later and a bunch more lldsofaosjfklsad
  overflow: auto;
  //width: 25%;
  text-align: center;
  //left:20px;
  position: relative;
  float: left;
  width: 100%;
  //clear: both;
  //top: 20px;

  p,
  .list {
    background-color: rgba(255,255,255,.1);
    padding: 9px 0px;
    margin: 0px 0px 3px 0px;
  }

  .current{
    background-color: #00adee;
  }

  .past {
    background-color: rgba(255, 120, 0, 0.5);
  }

  .current-bad{
    background-color: red;
  }
}

.filter-warning{
  background-color: red;
  bottom: 0px;
  position: absolute;
  margin: 0px;
  text-align: center;
  width: 100%;
  opacity: 0;
  transition: opacity .5s;

  //font-size: 150%;
  p{
    margin: 2px;
  }
  .bottom{
    //bottom: 12px;
    font-size: 125%;
  }

  .top{
    //bottom: 37px;
    font-weight: 300;
  }

}

.close {
  color: red;
  font-weight: 300;
  font-size: 350%;
  border: 2px solid red;
  line-height: .58;
  padding-left: 2px;
  background: rgba(255,255,255,.85);
  border-radius: 100%;
  height: 45px;
  opacity: .9;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 45px;
}

#info-div {
  @include topdiv;

  h1{
    font-size: 30px;
    margin: 0px 15px;
    width: 65%;
  }

  #default {
    display: block;
    text-align: center;
  }
}

.label{
  font-style: italic;
  font-weight: 300;
  margin: 15px 0px 0px 15px;
  margin-bottom: 0px;

  &.companies{
    text-align: center;
    margin: 30px 0px 10px 0px;
  }

  &.all,
  &.state,
  &.industry{
    font-style: normal;
    margin: 10px 0px;
    width: 100%;
    //float: left;
    text-align: center;

    span{
      font-weight: 400;
      font-size: 140%;
    }
  }
}

#state-div-past{
  position: relative;
  float: right;
  ywidth: 30%;
  top: 15%;

  .label{
    font-style: normal;
        font-weight: 400;
        margin: 0px;

  }

  p{
    background-color: initial;
    text-align: left;
    border-left: 2px solid white;
    padding: 0px 0px 0px 5px;
  }
}

#wrapper {
  @include outer-container;
  //background-color: $background-color;
  color: $interface-color;
  height: 500px;

  #sms-map {
    height: 100%;
    width: 100%;
  }
}

#all-div {

  p,
  .list {
    width: 92%;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 9px 0px;
    //margin: 0px 0px 3px 0px;
  }

  .current {
    background-color: #00adee;
  }

  .past {
    background-color: rgba(255, 120, 0, 0.5);
  }
}
