@import "bourbon/bourbon";
@import "neat/neat";

$backgroundColor:black;
$interfaceColor:white;

body{
    margin:0px;
    padding:0px;
}

#wrapper{
    @include outer-container;
    background-color:$backgroundColor;
    color:$interfaceColor;
    height:500px;
    
    #smsMap{
        width:100%;
        height:100%;
    }
}