@import "bourbon/bourbon";
@import "neat/neat";

$background-color: rgba(0,0,0,.75);
$interface-color: #fff;

body {
  margin:0px;
  padding:0px;
}

.company-link {
  color: white;
  display: block;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}

#controls {
  background-color: rgba(5, 5, 5, .8);
  border-radius: 35px;
  bottom: 3%;
  height: 8%;
  left: 30%;
  position: absolute;
  width: 40%;
  z-index: 100;
}

#info-close {
  background: red;
  border-radius: 30px;
  height: 60px;
  position: absolute;
  right: 30px;
  top: 30px;
  width: 60px;
}

#info-div {
  background: $background-color;
  height: 50%;
  left: 0;
  opacity: 0;
  overflow-y: auto;
  //pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;

  #default {
    display: block;
    text-align: center;
  }
}

#wrapper {
  @include outer-container;
  //background-color: $background-color;
  color: $interface-color;
  height: 500px;

  #sms-map {
    height: 100%;
    width: 100%;
  }
}
